/* General */
.bg-color {
    background: #3A3E4B;
}

.bg-item-color {
    background: #FF9138;
}

.text-color {
    color: #FF9138;
}

/*Header*/
.header-image {
    height: 60px;
}

.navbar-toggler.button-toggler {
    border: 3px solid #FF9138;
}

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
}

.border-hover:hover {
    border-top: 3px solid #ff9138;
    transform: translateY(-3px);
}

.navbar-toggler:focus {
    box-shadow: block;
}

.nav-length {
    width: 90%;
}

.nav-botton-container {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

@media screen and (max-width : 751px) {
    .nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border: 3px solid #ff9138;
        transform: translateY(-3px);
    }

    .nav-botton-container {
        border-radius: 50px;
    }
}

/* Aside */
.aside-container {
    float: left;
    margin-top: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.aside-icon {
    height: 70px;
    width: 70px;
}

@media screen and (max-width : 377px) {
    aside {
        display: none;
        ;
    }
}

/* Hero */
#section-hero {
    padding-top: 75px;
}

.bg-image {
    background-image: url('/assets/img/bgImage2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 40px;
}

.section-profile-text {
    margin-right: 50px;
}

.section-profile-stack {
    margin-right: 50px;
}

.section-profile-stack-icon {
    height: 70px;
    width: 70px;
}

.section-profile-text h1 {
    font-size: 4rem;
}

.section-profile-text h2 {
    text-align: end;
    font-size: 3rem;
}

/* About Me*/
#section-aboutme {
    background: #3A3E4B;
    padding-top: 75px;
}

.section-aboutme-text {
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.section-aboutme-title h2 {
    text-align: center;
    font-size: 3rem;
}

.section-aboutme-text p {
    text-align: justify;
    font-size: 2rem;
}

/* Experience*/
#section-experience {
    padding-top: 75px;
    background: #3A3E4B;
}

.section-experience-title h2 {
    text-align: center;
    font-size: 3rem;
}

.section-experience-text {
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.section-experience-text-experience {
    padding: 5px;
    margin-bottom: 20px;
    border: solid 2px #FF9138;
    border-radius: 24px;
}

.section-experience-text-experience:hover {
    background: #FF9138;
    border: solid 2px;
}

.company-icon {
    height: 100px;
    width: 100px;
}

.text-title {
    color: darkgray;
}

.text-table {
    display: inline;
}