nav {
    background: #3A3E4B;
}

/*Header*/

.headerImage {
    height: 70px;
}

.button-toggler.navbar-toggler {
    border: 3px solid #FF9138;
}

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
}

.border-hover:hover {
    border-top: 3px solid #ff9138;
    transform: translateY(-3px);
}

.navbar-toggler:focus {
    box-shadow: none;
}

#nav-length {
    width: 90%;
}

#logIn {
    background: #FF9138;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

@media screen and (max-width : 751px) {
    #nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border: 3px solid #ff9138;
        transform: translateY(-3px);
    }

    #logIn {
        border-radius: 50px;
    }
}
