/* General */
a {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Source Code Pro', monospace;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
}

/* Header */
.argentinaProgramaImage {
    height: 70px;
}

.navbar {
    padding: 2rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}



/* Hero */
.section-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: whitesmoke;
}

.bg-image {
    background-image: url('/assets/img/bgImage.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.profileFoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

/* AboutMe */
.section-aboutme {
    color: white;
    height: 500px;
    padding: 50px;
}